<div class="eqLogic eqLogic-widget allowResize allowReorderCmd allowLayout #custom_layout# #eqLogic_class# #category#"
    style="min-height: 150px;min-width:140px; position: relative; width:#width#; height:#height#;background-color:#background-color#!important; color:#color#; border:#border#; border-radius:#border-radius#;#style#"
    data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-cat_color="#catcolore#"
    data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#">
	<span class="statusCmd"></span>
	<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
		<i class="fas fa-sync"></i>
	</span>
	<center class="widget-name">
		<a href="#eqLink#">#name_display# <span class="object_name">#object_name#</span></a>
	</center>
	<script>
		if ('#refresh_id#' != ''){
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh_id#'});
			});
		}else{
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
		}
		function #uid#js_snapmaker_printhtmltable(list,nom_tableau,headtable,commande) {
			local_table = document.createElement("table");
			local_thr = document.createElement("thead");
			local_tr = document.createElement("tr");
			local_tr.setAttribute("style","white-space: nowrap;");
			for(j = 0; count(headtable) > j; j++) {
				local_th = document.createElement("th");
				local_th.setAttribute("style","padding: 5px;");
				local_th.innerHTML = headtable[j];
				local_tr.appendChild(local_th);
			}
			local_thr.appendChild(local_tr);
			local_table.appendChild(local_thr);
			local_tb = document.createElement("tbody");
			let player = new Array();
			if (list != "") {
				line = list.split('-!-');
				for(j = 0; line.length > j; j++) {
					local_tr = document.createElement("tr");
					lineelement = line[j].split('-:-');
					for(k = 0; lineelement.length > k; k++) {
						local_td = document.createElement("td");
						local_td.setAttribute("style","padding: 5px;");
						local_td.innerHTML = lineelement[k];
						local_tr.appendChild(local_td);
					}
					for(k = 0; commande.length > k; k++) {
						local_td = document.createElement("td");
						bouton_table = commande[k]
						bouton_table = bouton_table.replaceAll("#value#", lineelement[0]); // remplace value par la valeur de la premiere colonne de la ligne
						player.push(lineelement[0]);
						local_td.innerHTML = bouton_table;
						local_tr.appendChild(local_td);
					}
					local_tb.appendChild(local_tr);
				}
			}
			local_table.appendChild(local_tb);
			local_table.setAttribute("class","table table-condensed table-bordered table-striped");
			$('.cmd[data-eqlogic_id=' + nom_tableau + '] .state').empty();
			$('.cmd[data-eqlogic_id=' + nom_tableau + '] .state').append(local_table);
			return player; // retourne la liste des joueurs pour les utiliser dans l'identification les commandes
		}
	</script>
	<div class="eq_body_#id#" >
		<center>
			<div class="Pan_menu">
				<div class="menu-menu">
					<div class="content-xs">
						<strong>MENU</strong>
					</div>
					<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#status_id#" data-cmd_uid="cmd#status_uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #status_collectDate#">
						<div class="content-xs">
							<span   class="cmdName">status impression: </span>
							<strong class="state">#status#</strong>
						</div>
						<script>
							jeedom.cmd.addUpdateFunction('#status_id#',function(_options) {
								let cmd = $('.cmd[data-cmd_id=#status_id#]')
								cmd.attr('title', 'Valeur du: '+_options.collectDate)
								cmd.find('.state').empty().append(_options.display_value)
							});
							jeedom.cmd.refreshValue([{cmd_id :'#status_id#',display_value: '#status#', valueDate: '#status_valueDate#', collectDate: '#status_collectDate#', alertLevel: '#status_alertLevel#'}]);
						</script>
					</div>





					<div>
						<div class="cmd cmd-widget tooltips setautoconnect" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#setautoconnect_id#" data-cmd_uid="cmd#setautoconnect_uid#" data-version="dashboard" data-eqlogic_id="#id#">
							<div class="content-sm">
								<a class="btn btn-sm btn-default action">activer auto-reco</a>
							</div>
						</div>
						<div class="cmd cmd-widget tooltips unsetautoconnect" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#unsetautoconnect_id#" data-cmd_uid="cmd#unsetautoconnect_uid#" data-version="dashboard" data-eqlogic_id="#id#">
							<div class="content-sm">
								<a class="btn btn-sm btn-default action">deactiver auto-reco</a>
							</div>
						</div>
						<div class="cmd cmd-widget tooltips autoconnect" data-type="info" data-subtype="numeric" data-cmd_id="#autoconnect_id#" data-cmd_uid="cmd#autoconnect_uid#" data-version="dashboard" data-template="default" data-eqlogic_id="#id#" title="Valeur du: #autoconnect_collectDate#">
							<div class="content-sm">
								<span class="iconoff"><i class="fas fa-times"></i></span>
								<span class="iconon"><i class="icon jeedom-prise"></i></span>
							</div>
						</div>
						<script>
							function #uid#updatealim_but(stats) {
								if (stats == 0) { // en attente
									$('.cmd[data-cmd_id=#autoconnect_id#] .iconoff').show();
									$('.cmd[data-cmd_id=#autoconnect_id#] .iconon').hide();
								}
								if (stats == 1) { // en cours
									$('.cmd[data-cmd_id=#autoconnect_id#] .iconoff').hide();
									$('.cmd[data-cmd_id=#autoconnect_id#] .iconon').show();
								}
								if (stats == -1) { // pas de commande
									$('.cmd[data-cmd_id=#autoconnect_id#] .iconoff').hide();
									$('.cmd[data-cmd_id=#autoconnect_id#] .iconon').hide();
								}
							}
							#uid#updatealim_but('#autoconnect#');
							$('.cmd[data-cmd_id=#setautoconnect_id#]:last .action').off('click').on('click', function () {
								jeedom.cmd.execute({id: '#setautoconnect_id#'})
							})
							$('.cmd[data-cmd_id=#unsetautoconnect_id#]:last .action').off('click').on('click', function () {
								jeedom.cmd.execute({id: '#unsetautoconnect_id#'})
							})
							jeedom.cmd.addUpdateFunction('#autoconnect_id#',function(_options) {
								let cmd = $('.cmd[data-cmd_id=#autoconnect_id#]')
								cmd.attr('title', 'Valeur du: '+_options.collectDate)
								#uid#updatealim_but(_options.display_value);
							});
							jeedom.cmd.refreshValue([{cmd_id :'#autoconnect#',display_value: '#autoconnect#', valueDate: '#autoconnect_valueDate#', collectDate: '#autoconnect_collectDate#', alertLevel: '#autoconnect_alertLevel#'}]);
						</script>
					</div>
					<div class="cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#heatedBedTemperature_id#" data-cmd_uid="cmd#heatedBedTemperature_uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #heatedBedTemperature_collectDate#">
						<div class="content-xs">
							<span   class="cmdName">heatedBedTemperature : </span> 
							<strong class="state">#heatedBedTemperature#</strong>
						</div>
						<script>
							jeedom.cmd.addUpdateFunction('#heatedBedTemperature_id#',function(_options) {
								let cmd = $('.cmd[data-cmd_id=#heatedBedTemperature_id#]')
								cmd.attr('title', 'Valeur du: '+_options.collectDate)
								cmd.find('.state').empty().append(_options.display_value)
							});
							jeedom.cmd.refreshValue([{cmd_id :'#heatedBedTemperature_id#',display_value: '#heatedBedTemperature#', valueDate: '#heatedBedTemperature_valueDate#', collectDate: '#heatedBedTemperature_collectDate#', alertLevel: '#heatedBedTemperature_alertLevel#'}]);
						</script>
					</div>
					<div class="cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#nozzleTemperature_id#" data-cmd_uid="cmd#nozzleTemperature_uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #nozzleTemperature_collectDate#">
						<div class="content-xs">
							<span   class="cmdName">nozzleTemperature : </span> 
							<strong class="state">#nozzleTemperature#</strong>
						</div>
						<script>
							jeedom.cmd.addUpdateFunction('#nozzleTemperature_id#',function(_options) {
								let cmd = $('.cmd[data-cmd_id=#nozzleTemperature_id#]')
								cmd.attr('title', 'Valeur du: '+_options.collectDate)
								cmd.find('.state').empty().append(_options.display_value)
							});
							jeedom.cmd.refreshValue([{cmd_id :'#nozzleTemperature_id#',display_value: '#nozzleTemperature#', valueDate: '#nozzleTemperature_valueDate#', collectDate: '#nozzleTemperature_collectDate#', alertLevel: '#nozzleTemperature_alertLevel#'}]);
						</script>
					</div>
					<div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-template="button" data-cmd_id="#nozzleTargetTemperature_id#" data-cmd_uid="#nozzleTargetTemperature_uid#" data-version="dashboard" data-eqlogic_id="678">
						<div class="title ">
							<div class="cmdName">nozzleTargetTemperature</div>
						</div>
						<div class="content-sm ">
							<div class="input-group buttons">
							<span class="input-group-btn" style="position: relative;">
								<a class="btn btn-default btn-sm bt_minus roundedLeft"><i class="fas fa-minus"></i></a>
							</span>
							<input type="text" class="input-sm in_value form-control" value="#workSpeed# mm">
							<span class="input-group-btn" style="position: relative;">
								<a class="btn btn-default btn-sm bt_plus roundedRight"><i class="fa fa-plus"></i></a>
							</span>
							</div>
						</div>
						<script>
							$('.cmd[data-cmd_id=#nozzleTargetTemperature_id#] .bt_plus').on('click', function () {
							let max = ('5' == '') ?  Number.MAX_VALUE : parseFloat('5')
							let step = (isNaN(parseFloat('#step#'))) ?  0.05 : parseFloat('#step#')
							if (parseFloat($('.cmd[data-cmd_id=#nozzleTargetTemperature_id#] .in_value').val()) <= max - step ) {
								jeedom.cmd.refreshValue([{cmd_id :'#nozzleTargetTemperature_id#',value: parseFloat($('.cmd[data-cmd_id=#nozzleTargetTemperature_id#] .in_value').val()) + step}])
								$('.cmd[data-cmd_id=#nozzleTargetTemperature_id#] .in_value').trigger('change')
							}
							})
							$('.cmd[data-cmd_id=#nozzleTargetTemperature_id#] .bt_minus').on('click', function () {
							let min = ('-5' == '') ? Number.MIN_VALUE : parseFloat('-5')
							let step = (isNaN(parseFloat('#step#'))) ?  0.05 : parseFloat('#step#')
							if (parseFloat($('.cmd[data-cmd_id=#nozzleTargetTemperature_id#] .in_value').val()) >= min + step) {
								jeedom.cmd.refreshValue([{cmd_id :'#nozzleTargetTemperature_id#',value: parseFloat($('.cmd[data-cmd_id=#nozzleTargetTemperature_id#] .in_value').val()) - step}])
								$('.cmd[data-cmd_id=#nozzleTargetTemperature_id#] .in_value').trigger('change')
							}
							})
							jeedom.cmd.addUpdateFunction('#nozzleTargetTemperature_id#',function(_options) {
							$('.cmd[data-cmd_id=#nozzleTargetTemperature_id#] .in_value').val(_options.value+' mm')
							});
						</script>
					</div>
					<div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-template="button" data-cmd_id="#heatedBedTargetTemperature_id#" data-cmd_uid="#heatedBedTargetTemperature_uid#" data-version="dashboard" data-eqlogic_id="678">
						<div class="title ">
							<div class="cmdName">heatedBedTargetTemperature</div>
						</div>
						<div class="content-sm ">
							<div class="input-group buttons">
							<span class="input-group-btn" style="position: relative;">
								<a class="btn btn-default btn-sm bt_minus roundedLeft"><i class="fas fa-minus"></i></a>
							</span>
							<input type="text" class="input-sm in_value form-control" value="#workSpeed# mm">
							<span class="input-group-btn" style="position: relative;">
								<a class="btn btn-default btn-sm bt_plus roundedRight"><i class="fa fa-plus"></i></a>
							</span>
							</div>
						</div>
						<script>
							$('.cmd[data-cmd_id=#heatedBedTargetTemperature_id#] .bt_plus').on('click', function () {
							let max = ('5' == '') ?  Number.MAX_VALUE : parseFloat('5')
							let step = (isNaN(parseFloat('#step#'))) ?  0.05 : parseFloat('#step#')
							if (parseFloat($('.cmd[data-cmd_id=#heatedBedTargetTemperature_id#] .in_value').val()) <= max - step ) {
								jeedom.cmd.refreshValue([{cmd_id :'#heatedBedTargetTemperature_id#',value: parseFloat($('.cmd[data-cmd_id=#heatedBedTargetTemperature_id#] .in_value').val()) + step}])
								$('.cmd[data-cmd_id=#heatedBedTargetTemperature_id#] .in_value').trigger('change')
							}
							})
							$('.cmd[data-cmd_id=#heatedBedTargetTemperature_id#] .bt_minus').on('click', function () {
							let min = ('-5' == '') ? Number.MIN_VALUE : parseFloat('-5')
							let step = (isNaN(parseFloat('#step#'))) ?  0.05 : parseFloat('#step#')
							if (parseFloat($('.cmd[data-cmd_id=#heatedBedTargetTemperature_id#] .in_value').val()) >= min + step) {
								jeedom.cmd.refreshValue([{cmd_id :'#heatedBedTargetTemperature_id#',value: parseFloat($('.cmd[data-cmd_id=#heatedBedTargetTemperature_id#] .in_value').val()) - step}])
								$('.cmd[data-cmd_id=#heatedBedTargetTemperature_id#] .in_value').trigger('change')
							}
							})
							jeedom.cmd.addUpdateFunction('#heatedBedTargetTemperature_id#',function(_options) {
							$('.cmd[data-cmd_id=#heatedBedTargetTemperature_id#] .in_value').val(_options.value+' mm')
							});
						</script>
					</div>
					<div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-template="button" data-cmd_id="#zoffset_id#" data-cmd_uid="#zoffset_uid#" data-version="dashboard" data-eqlogic_id="678">
						<div class="title ">
							<div class="cmdName">offset</div>
						</div>
						<div class="content-sm ">
							<div class="input-group buttons">
							<span class="input-group-btn" style="position: relative;">
								<a class="btn btn-default btn-sm bt_minus roundedLeft"><i class="fas fa-minus"></i></a>
							</span>
							<input type="text" class="input-sm in_value form-control" value="#workSpeed# mm">
							<span class="input-group-btn" style="position: relative;">
								<a class="btn btn-default btn-sm bt_plus roundedRight"><i class="fa fa-plus"></i></a>
							</span>
							</div>
						</div>
						<script>
							$('.cmd[data-cmd_id=#zoffset_id#] .bt_plus').on('click', function () {
							let max = ('5' == '') ?  Number.MAX_VALUE : parseFloat('5')
							let step = (isNaN(parseFloat('#step#'))) ?  0.05 : parseFloat('#step#')
							if (parseFloat($('.cmd[data-cmd_id=#zoffset_id#] .in_value').val()) <= max - step ) {
								jeedom.cmd.refreshValue([{cmd_id :'#zoffset_id#',value: parseFloat($('.cmd[data-cmd_id=#zoffset_id#] .in_value').val()) + step}])
								$('.cmd[data-cmd_id=#zoffset_id#] .in_value').trigger('change')
							}
							})
							$('.cmd[data-cmd_id=#zoffset_id#] .bt_minus').on('click', function () {
							let min = ('-5' == '') ? Number.MIN_VALUE : parseFloat('-5')
							let step = (isNaN(parseFloat('#step#'))) ?  0.05 : parseFloat('#step#')
							if (parseFloat($('.cmd[data-cmd_id=#zoffset_id#] .in_value').val()) >= min + step) {
								jeedom.cmd.refreshValue([{cmd_id :'#zoffset_id#',value: parseFloat($('.cmd[data-cmd_id=#zoffset_id#] .in_value').val()) - step}])
								$('.cmd[data-cmd_id=#zoffset_id#] .in_value').trigger('change')
							}
							})
							jeedom.cmd.addUpdateFunction('#zoffset_id#',function(_options) {
							$('.cmd[data-cmd_id=#zoffset_id#] .in_value').val(_options.value+' mm')
							});
						</script>
					</div>
					<div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-template="button" data-cmd_id="#newspeed_id#" data-cmd_uid="#newspeed_uid#" data-version="dashboard" data-eqlogic_id="678">
						<div class="title ">
							<div class="cmdName">vitesse</div>
						</div>
						<div class="content-sm ">
							<div class="input-group buttons">
							<span class="input-group-btn" style="position: relative;">
								<a class="btn btn-default btn-sm bt_minus roundedLeft"><i class="fas fa-minus"></i></a>
							</span>
							<input type="text" class="input-sm in_value form-control" value="#workSpeed# %">
							<span class="input-group-btn" style="position: relative;">
								<a class="btn btn-default btn-sm bt_plus roundedRight"><i class="fa fa-plus"></i></a>
							</span>
							</div>
						</div>
						<script>
							$('.cmd[data-cmd_id=#newspeed_id#] .bt_plus').on('click', function () {
							let max = ('200' == '') ?  Number.MAX_VALUE : parseFloat('200')
							let step = (isNaN(parseFloat('#step#'))) ?  0.5 : parseFloat('#step#')
							if (parseFloat($('.cmd[data-cmd_id=#newspeed_id#] .in_value').val()) <= max - step ) {
								jeedom.cmd.refreshValue([{cmd_id :'#newspeed_id#',value: parseFloat($('.cmd[data-cmd_id=#newspeed_id#] .in_value').val()) + step}])
								$('.cmd[data-cmd_id=#newspeed_id#] .in_value').trigger('change')
							}
							})
							$('.cmd[data-cmd_id=#newspeed_id#] .bt_minus').on('click', function () {
							let min = ('1' == '') ? Number.MIN_VALUE : parseFloat('1')
							let step = (isNaN(parseFloat('#step#'))) ?  0.5 : parseFloat('#step#')
							if (parseFloat($('.cmd[data-cmd_id=#newspeed_id#] .in_value').val()) >= min + step) {
								jeedom.cmd.refreshValue([{cmd_id :'#newspeed_id#',value: parseFloat($('.cmd[data-cmd_id=#newspeed_id#] .in_value').val()) - step}])
								$('.cmd[data-cmd_id=#newspeed_id#] .in_value').trigger('change')
							}
							})
							jeedom.cmd.addUpdateFunction('#newspeed_id#',function(_options) {
							$('.cmd[data-cmd_id=#newspeed_id#] .in_value').val(_options.value+' %')
							});
						</script>
					</div>
					<div>
						<div class="cmd cmd-widget tooltips smstart" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#start_id#" data-cmd_uid="cmd#start_uid#" data-version="dashboard" data-eqlogic_id="#id#">
							<div class="content-xs">
								<a class="btn btn-sm btn-default action">start</a>
							</div>
						</div>
						<div class="cmd cmd-widget tooltips smpause" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#pause_id#" data-cmd_uid="cmd#pause_uid#" data-version="dashboard" data-eqlogic_id="#id#">
							<div class="content-xs">
								<a class="btn btn-sm btn-default action">pause</a>
							</div>
						</div>
						<div class="cmd cmd-widget tooltips smresume" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#resume_id#" data-cmd_uid="cmd#resume_uid#" data-version="dashboard" data-eqlogic_id="#id#">
							<div class="content-xs">
								<a class="btn btn-sm btn-default action">resume</a>
							</div>
						</div>
						<div class="cmd cmd-widget tooltips smstop" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#stop_id#" data-cmd_uid="cmd#stop_uid#" data-version="dashboard" data-eqlogic_id="#id#">
							<div class="content-xs">
								<a class="btn btn-sm btn-default action">stop</a>
							</div>
						</div>
						<script>
							$('.cmd[data-cmd_id=#start_id#]:last .action').off('click').on('click', function () {
								jeedom.cmd.execute({id: '#start_id#'})
								jeedom.cmd.execute({id: '#refresh_id#'})
							})
							$('.cmd[data-cmd_id=#pause_id#]:last .action').off('click').on('click', function () {
								jeedom.cmd.execute({id: '#pause_id#'})
								jeedom.cmd.execute({id: '#refresh_id#'})
							})
							$('.cmd[data-cmd_id=#resume_id#]:last .action').off('click').on('click', function () {
								jeedom.cmd.execute({id: '#resume_id#'})
								jeedom.cmd.execute({id: '#refresh_id#'})
							})
							$('.cmd[data-cmd_id=#stop_id#]:last .action').off('click').on('click', function () {
								jeedom.cmd.execute({id: '#stop_id#'})
								jeedom.cmd.execute({id: '#refresh_id#'})
							})
						</script>
						<script>
							function #uid#updateListButton(stats) {
								if (stats == 0) { // en attente
									$('.eqLogic[data-eqLogic_uid=#uid#] .smstart').show();
									$('.eqLogic[data-eqLogic_uid=#uid#] .smpause').hide();
									$('.eqLogic[data-eqLogic_uid=#uid#] .smresume').hide();
									$('.eqLogic[data-eqLogic_uid=#uid#] .smstop').hide();
								}
								if (stats == 10) { // en cours
									$('.eqLogic[data-eqLogic_uid=#uid#] .smstart').hide();
									$('.eqLogic[data-eqLogic_uid=#uid#] .smpause').show();
									$('.eqLogic[data-eqLogic_uid=#uid#] .smresume').hide();
									$('.eqLogic[data-eqLogic_uid=#uid#] .smstop').show();
								}
								if (stats == 20) { //en pause
									$('.eqLogic[data-eqLogic_uid=#uid#] .smstart').hide();
									$('.eqLogic[data-eqLogic_uid=#uid#] .smpause').hide();
									$('.eqLogic[data-eqLogic_uid=#uid#] .smresume').show();
									$('.eqLogic[data-eqLogic_uid=#uid#] .smstop').show();
								}
								if (stats == -1) {// retirer toutes les commandes
									$('.eqLogic[data-eqLogic_uid=#uid#] .smstart').hide();
									$('.eqLogic[data-eqLogic_uid=#uid#] .smpause').hide();
									$('.eqLogic[data-eqLogic_uid=#uid#] .smresume').hide();
									$('.eqLogic[data-eqLogic_uid=#uid#] .smstop').hide();
								}
							}
							#uid#updateListButton('#status#');
							jeedom.cmd.addUpdateFunction('#status_id#',function(_options) {
								let cmd = $('.cmd[data-cmd_id=#status_id#]')
								cmd.attr('title', 'Valeur du: '+_options.collectDate)
								cmd.find('.state').empty().append(_options.display_value)
								#uid#updateListButton(_options.display_value);
							});
							jeedom.cmd.refreshValue([{cmd_id :'#status_id#',display_value: '#status#', valueDate: '#status_valueDate#', collectDate: '#status_collectDate#', alertLevel: '#status_alertLevel#'}]);
						</script>
					</div>
					<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#fileName_id#" data-cmd_uid="cmd#fileName_uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #fileName_collectDate#">
						<div class="content-xs">
							<span   class="cmdName">nom du fichier : </span>
							<strong class="state">#fileName#</strong>
						</div>
						<script>
							jeedom.cmd.addUpdateFunction('#fileName#',function(_options) {
								let cmd = $('.cmd[data-cmd_id=#fileName#]')
								cmd.attr('title', 'Valeur du: '+_options.collectDate)
								cmd.find('.state').empty().append(_options.display_value)
							});
							jeedom.cmd.refreshValue([{cmd_id :'#fileName_id#',display_value: '#fileName#', valueDate: '#fileName_valueDate#', collectDate: '#fileName_collectDate#', alertLevel: '#fileName_alertLevel#'}]);
						</script>
					</div>
					<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#progress_id#" data-cmd_uid="cmd#progress_uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #progress_collectDate#">
						<div class="content-xs">
							<span   class="cmdName">avancement : </span>
							<strong class="state1">#progress#</strong>
							<strong class="state2"> %</strong>
						</div>
						<script>
							jeedom.cmd.addUpdateFunction('#progress#',function(_options) {
								let cmd = $('.cmd[data-cmd_id=#progress#]')
								cmd.attr('title', 'Valeur du: '+_options.collectDate)
								cmd.find('.state1').empty().append(_options.display_value)
							});
							jeedom.cmd.refreshValue([{cmd_id :'#progress_id#',display_value: '#progress#', valueDate: '#progress_valueDate#', collectDate: '#progress_collectDate#', alertLevel: '#progress_alertLevel#'}]);
						</script>
					</div>
					<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#currentLine#" data-cmd_uid="cmd#currentLine_uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #currentLine_collectDate#">
						<div class="content-xs">
							<span   class="cmdName">ligne en cours: </span>
							<strong class="state1">#currentLine#</strong>
							<strong class="state2"> / </strong>
							<strong class="state3">#totalLines#</strong>
						</div>
						<script>
							jeedom.cmd.addUpdateFunction('#currentLine#',function(_options) {
								let cmd = $('.cmd[data-cmd_id=#currentLine#]')
								cmd.attr('title', 'Valeur du: '+_options.collectDate)
								cmd.find('.state1').empty().append(_options.display_value)
							});
							jeedom.cmd.refreshValue([{cmd_id :'#currentLine#',display_value: '#currentLine#', valueDate: '#currentLine_valueDate#', collectDate: '#currentLine_collectDate#', alertLevel: '#currentLine_alertLevel#'}]);
							jeedom.cmd.addUpdateFunction('#totalLines_id#',function(_options) {
								let cmd = $('.cmd[data-cmd_id=#totalLines_id#]')
								cmd.attr('title', 'Valeur du: '+_options.collectDate)
								cmd.find('.state3').empty().append(_options.display_value)
							});
							jeedom.cmd.refreshValue([{cmd_id :'#totalLines_id#',display_value: '#totalLines#', valueDate: '#totalLines_valueDate#', collectDate: '#totalLines_collectDate#', alertLevel: '#totalLines_alertLevel#'}]);
						</script>
					</div>
					<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#elapsedTime_id#" data-cmd_uid="cmd#elapsedTime_uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #elapsedTime_collectDate#">
						<div class="content-xs">
							<span   class="cmdName">démarrer depuis: </span>
							<strong class="state">#elapsedTime#</strong>
						</div>
						<script>
							jeedom.cmd.addUpdateFunction('#elapsedTime_id#',function(_options) {
								let cmd = $('.cmd[data-cmd_id=#elapsedTime_id#]')
								cmd.attr('title', 'Valeur du: '+_options.collectDate)
								cmd.find('.state').empty().append(_options.display_value)
							});
							jeedom.cmd.refreshValue([{cmd_id :'#elapsedTime_id#',display_value: '#elapsedTime#', valueDate: '#elapsedTime_valueDate#', collectDate: '#elapsedTime_collectDate#', alertLevel: '#elapsedTime_alertLevel#'}]);
						</script>
					</div>
					<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#remainingTime_id#" data-cmd_uid="cmd#remainingTime_uid#" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" title="Valeur du: #remainingTime_collectDate#">
						<div class="content-xs">
							<span   class="cmdName">temps restant: </span>
							<strong class="state">#remainingTime#</strong>
						</div>
						<script>
							jeedom.cmd.addUpdateFunction('#remainingTime_id#',function(_options) {
								let cmd = $('.cmd[data-cmd_id=#remainingTime_id#]')
								cmd.attr('title', 'Valeur du: '+_options.collectDate)
								cmd.find('.state').empty().append(_options.display_value)
							});
							jeedom.cmd.refreshValue([{cmd_id :'#remainingTime_id#',display_value: '#remainingTime#', valueDate: '#remainingTime_valueDate#', collectDate: '#remainingTime_collectDate#', alertLevel: '#remainingTime_alertLevel#'}]);
						</script>
					</div>
				</div>
				<div class="menu-caisson">
					<div class="content-xs">
						<strong>MENU caisson</strong>
					</div>
					<div>
					</div>
				</div>
				<div class="menu-alim">
					<div class="content-xs">
						<strong>MENU alim</strong>
					</div>
					<div>
						<div class="cmd cmd-widget tooltips smalimon" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#onalim_id#" data-cmd_uid="cmd#onalim_uid#" data-version="dashboard" data-eqlogic_id="#id#">
							<div class="content-sm">
								<a class="btn btn-sm btn-default action">on</a>
							</div>
						</div>
						<div class="cmd cmd-widget tooltips smalimoff" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#offalim_id#" data-cmd_uid="cmd#offalim_uid#" data-version="dashboard" data-eqlogic_id="#id#">
							<div class="content-sm">
								<a class="btn btn-sm btn-default action">off</a>
							</div>
						</div>
						<div class="cmd cmd-widget tooltips smalimstatus" data-type="info" data-subtype="numeric" data-cmd_id="#aliminfo_id#" data-cmd_uid="cmd#aliminfo_uid#" data-version="dashboard" data-template="default" data-eqlogic_id="#id#" title="Valeur du: #aliminfo_collectDate#">
							<div class="content-sm">
								<span class="iconoff"><i class="fas fa-times"></i></span>
								<span class="iconon"><i class="icon jeedom-prise"></i></span>
							</div>
						</div>
						<script>
							function #uid#updatealim_but(stats) {
								if (stats == 0) { // en attente
									$('.cmd[data-cmd_id=#aliminfo_id#] .iconoff').show();
									$('.cmd[data-cmd_id=#aliminfo_id#] .iconon').hide();
								}
								if (stats == 1) { // en cours
									$('.cmd[data-cmd_id=#aliminfo_id#] .iconoff').hide();
									$('.cmd[data-cmd_id=#aliminfo_id#] .iconon').show();
								}
								if (stats == -1) { // pas de commande
									$('.cmd[data-cmd_id=#aliminfo_id#] .iconoff').hide();
									$('.cmd[data-cmd_id=#aliminfo_id#] .iconon').hide();
								}
							}
							#uid#updatealim_but('#aliminfo#');
							$('.cmd[data-cmd_id=#onalim_id#]:last .action').off('click').on('click', function () {
								jeedom.cmd.execute({id: '#onalim_id#'})
							})
							$('.cmd[data-cmd_id=#offalim_id#]:last .action').off('click').on('click', function () {
								jeedom.cmd.execute({id: '#offalim_id#'})
							})
							jeedom.cmd.addUpdateFunction('#aliminfo_id#',function(_options) {
								let cmd = $('.cmd[data-cmd_id=#aliminfo_id#]')
								cmd.attr('title', 'Valeur du: '+_options.collectDate)
								#uid#updatealim_but(_options.display_value);
							});
							jeedom.cmd.refreshValue([{cmd_id :'#aliminfo#',display_value: '#aliminfo#', valueDate: '#aliminfo_valueDate#', collectDate: '#aliminfo_collectDate#', alertLevel: '#aliminfo_alertLevel#'}]);
						</script>
					</div>
				</div>
			</div> <!-- Pan_menu -->
			<div class="Pan_fichier" style="display: none;">
				<div class="content-xs">
					<strong>LISTE FICHIER</strong>
				</div>
				<div class="tooltips cmd cmd-widget filelist" data-type="info" data-subtype="string" data-version="dashboard" data-template="default" data-eqlogic_id="#filelist_id#" style="display: block;">
					<div style="max-width: #widthfilelist#px; max-height: #heightfilelist#px; overflow:auto;">
						<div class="state">
							#filelist#
						</div>
					</div>
					<script>
						jeedom.cmd.addUpdateFunction('#filelist_id#',function(_options) {
							let headtable = ["nom","date","temps d'impr"];
							let commande = [];
							let player = #uid#js_snapmaker_printhtmltable(_options.display_value,'#filelist_id#',headtable,commande);
						});
						jeedom.cmd.refreshValue([{cmd_id :'#filelist_id#',display_value: '#filelist#', valueDate: '#filelist_valueDate#', collectDate: '#filelist_collectDate#', alertLevel: '#filelist_alertLevel#'}]);
					</script>
				</div>
				<div class="tooltips cmd cmd-widget fileselect" data-type="info" data-subtype="string" data-version="dashboard" data-template="default" data-eqlogic_id="#filelist_id#" style="display: block;">
					
					
					
					<iframe id="my_iframe" style="display:none;"></iframe>
					<script>
						function Download(url) {
							document.getElementById('my_iframe').src = url;
						};
						$('a#someID').attr({target: '_blank', href  : 'http://localhost/directory/file.pdf'});
					</script>
				</div>
				<div class="tooltips cmd cmd-widget newfile" data-type="action" data-subtype="message" data-cmd_id="#newfile_id#" data-cmd_uid="cmd#newfile_uid#" data-version="dashboard" data-template="default" data-eqlogic_id="#id#">
					<div>
						<input type="file" class="fichierimport" accept="image/png, image/jpeg">
						<div class="content-xs">
							<a class="btn btn-sm btn-default uplocal">upload local</a>
						</div>
						<div class="content-xs">
							<a class="btn btn-sm btn-default upsnap">upload snap</a>
						</div>
					</div>
					<script>
						$('.cmd[data-cmd_id=#newfile_id#]:last .uplocal').on('click', function() {
							fichier = $('.cmd[data-cmd_id=#newfile_id#] .fichierimport');
							jeedom.cmd.execute({id: '#addfile_id#', value: {message: fi.files[0].name, fichier: fi.files[0]}});
							// vide le champ de saisie du message
							$('.cmd[data-cmd_id=#addfile_id#] .fichierimport').val('');
						});
						$('.cmd[data-cmd_id=#newfile_id#]:last .upsnap').on('click', function() {
							fichier = $('.cmd[data-cmd_id=#newfile_id#] .fichierimport');
							jeedom.cmd.execute({id: '#sendfile_id#', value: {message: fi.files[0].name, fichier: fi.files[0]}});
							// vide le champ de saisie du message
							$('.cmd[data-cmd_id=#sendfile_id#] .fichierimport').val('');
						});
					</script>
				</div>
			</div>  <!-- Pan_fichier -->
			<div class="Pan_axes" style="display: none;">
				<div class="content-xs">
					<strong>GESTION DES AXES</strong>
				</div>
				<div class="tooltips cmd cmd-widget filelist" data-type="info" data-subtype="string" data-version="dashboard" data-template="default" data-eqlogic_id="#filelist_id#" style="display: block;">
					<div style="max-width: #widthfilelist#px; max-height: #heightfilelist#px; overflow:auto;">
						<div class="state" id="filelist">
							#filelist#
						</div>
						<label for="avatar">Choose a profile picture:</label>
						<input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">
					</div>
					<script>
						jeedom.cmd.addUpdateFunction('#filelist_id#',function(_options) {
							let cmd = $('.cmd[data-cmd_id=#filelist_id#]')
							let headtable = ["fichier","date d'insersion","taille","temps d'impression","supprimer","start"];
							let commande = ["<div class=\"cmd cmd-widget\" data-type=\"action\" data-subtype=\"other\" data-template=\"default\" data-cmd_id=\"#filelist_id#\" data-cmd_uid=\"cmd#filelist_uid#\" data-version=\"dashboard\" data-eqlogic_id=\"#id#\">\<div class=\"content-xs\"><a class=\"btn btn-sm btn-default #filelist_id##value#kick\">kick<\/a><\/div><\/div>"];
							cmd.find('.state').empty().append(#uid#js_snapmaker_printhtmltable(_options.display_value,'filelist',headtable,commande))
						});
						jeedom.cmd.refreshValue([{cmd_id :'#filelist_id#',display_value: '#filelist#', valueDate: '#filelist_valueDate#', collectDate: '#filelist_collectDate#', alertLevel: '#filelist_alertLevel#'}]);
					</script>
				</div>
			</div>  <!-- Pan_fichier -->
		</center> 
	</div>
	<div class="table_bottom" style="">
		<table style="position:absolute; right:0px; bottom:0px; width: 100%; height:;border-radius:#border-radius#;" cellspacing="0" cellpadding="0" border="0">	
			<tr style="height: 22px;">
				<td class="td_bot1" style="width: 18px; text-align: left;">
					<i class="fas fa-info-circle cursor tooltips infcmd noRefresh" title='Autres infos' style="margin-left: 3px; font-size: 0.9em;" ></i>		
					<div class="infhtm" style="display: none;"> 
						<div class="tooltips cmd cmd-widget lastCommunication" data-type="info" data-subtype="string" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" style="display: block;">
							<div class="content-xs">
								<span   class="cmdName">last Communication: </span> 
								<strong class="state">#lastCommunication#</strong>
							</div>
						</div>
						<br/>
						<div class="tooltips cmd cmd-widget numberTryWithoutSuccess" data-type="info" data-subtype="string" data-version="dashboard" data-template="line" data-eqlogic_id="#id#" style="display: block;">
							<div class="content-xs">
								<span   class="cmdName">nombre de tentative de reconnexion: </span> 
								<strong class="state">#numberTryWithoutSuccess#</strong>
							</div>
						</div>
					</div>
				</td>
				<td class="td_bot2" style="text-align: center;">
				</td>
				<td class="td_bot3" style="width: 18px;text-align: right;" nowrap>
					<i class="fas fa-bars cursor tooltips changecmdmenu noRefresh" title='menu' style="margin-right: 3px;"></i>
					<i class="fas fa-child cursor tooltips changecmdfichier noRefresh" title='fichiers' style="margin-right: 3px;"></i>
					<i class="fas fa-comment cursor tooltips changecmdaxes noRefresh" title='axes' style="margin-right: 3px;"></i>
				</td>
			</tr>
			<script>
				if ('#numberTryWithoutSuccess#' >= 3) {
					$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd').css('color', 'red');
				} 
				//**************************************//	
				$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd').off('click').on('click', function () {
					$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd').popover({
						container: "body",
						html: true,
						placement: "auto",
						selector : true,
						//title: false,//"<strong>Liste des équipements</strong>",
						content: function () {return $('.eqLogic[data-eqLogic_uid=#uid#] .infhtm').html(); } ,
					})
						.on("show.bs.popover", function () { 
							$(this).data("bs.popover").tip()
							.css({
								"max-width": "500px",
								"max-height":  "400px",
								//overflow: "auto",
								"overflow-y": "auto",
								"background-color": "#474646",//'background-color',
								"background": "#474646",
							});
						});
					$('.eqLogic[data-eqLogic_uid=#uid#] .infcmd').popover('show'); 
				});
				$('.eqLogic[data-eqLogic_uid=#uid#] .changecmdmenu').on('click',function () { // menu
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_menu').show();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_fichier').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_axes').hide();
				});
				$('.eqLogic[data-eqLogic_uid=#uid#] .changecmdfichier').on('click',function () { // fichier
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_menu').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_fichier').show();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_axes').hide();
				});
				$('.eqLogic[data-eqLogic_uid=#uid#] .changecmdaxes').on('click',function () { // fichier
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_menu').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_fichier').hide();
					$('.eqLogic[data-eqLogic_uid=#uid#] .Pan_axes').show();
				});
			</script>
		</table>		
	</div>
	<!-- fin table_bottom    -->
</div>
<!-- Fin eqLogic-widget  -->